#content1 {
  margin: 10px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border: solid 1px #000000;
  background-color: #1184a6;
}
#purpose {
  background-color: #f11b0c;
}


.special {
  background-color:#1da611;
}
