h1 {
    color:darkorange;
    font-size: 300%;
    font-family: "Impact";
    text-indent: 27px;   
}

p {
    font-family: "Times New Roman";
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color: darkcyan;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 10px darkolivegreen;
    font-size: 20px;

}









